header{
    padding: 6px;
    border: 1px solid gainsboro;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 !important;
  background-color: #fff;
  border-bottom: 1px solid gainsboro;
}

/* LEFT */
.header-left {
  display: flex;
  align-items: center;
  width: 24.5%;
  padding: 6px;
  border-right: 1px solid gainsboro;
}

.header-logo {
  height: 50px;
  object-fit: contain;
  border-radius: 30px;
}

/* CENTER */
.header-center {
  flex: 1;
  text-align: center;
}

.header-title {
  margin: 0;
  font-weight: 600;
}

/* RIGHT */
.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 20%;
  justify-content: flex-end;
}

.menu-icon {
  cursor: pointer;
}

.user-avatar {
  border: 2px solid #ddd;
}

/* Dropdown fix */
.dropdown-menu {
  right: 0;
  left: auto;
}
