.form-div {
  /* padding: 20px; */
  border: 1px solid rgb(205, 205, 205);
  /* margin: 10px auto; */
  border-radius: 10px;
  margin-top: 10px;
  overflow: hidden;
}

.studentCreateFrom {
  border-radius: 10px;
  padding: 10px;
  border: none;
  overflow: hidden;
  margin: auto;
  
  background-color: white !important;
}
.studentCreateFrom form {
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}
.studentCreateFrom .form-control {
  font-size: 14px !important;
}
.studentCreateFrom .heading h6 {
  margin: 0 !important;
}
.studentCreateFrom .form-buttons button {
  margin: 3px;
}
.studentCreateFrom .from-lable {
  color: black;
  font-weight: 500;
}

.studentCreateFrom .form-date {
  appearance: none; /* Removes default OS styling for more control */
  -webkit-appearance: none;
}

.studentCreateFrom label.form-check-label {
  color: black !important;
  text-decoration: none !important;

}
.studentCreateFrom p {
  margin-bottom: 0 !important;
}

.studentCreateFrom label{
  font-size: 13px;
  margin-bottom: 2px !important;
  font-weight: 500;
  margin-left: 5px;
}

/* From Uiverse.io by kamehame-ha */ 
 .coolinput {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  width: 100%;
}

.coolinput label.text {
  font-size: 0.75rem;
  color: #0d6efd;
  font-weight: 400;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #ffffff;
  width: fit-content;
}

/* .coolinput input[type=date].input {
  padding: 8px 10px;
  font-size: 0.75rem;
  border: 1px #0d6efd solid;
  border-radius: 5px;
  background: #ffffff;
  width: 100%;
  margin-inline: auto;
}
.coolinput input[type=text].input {
  padding: 8px 10px;
  font-size: 0.75rem;
  border: 1px #0d6efd solid;
  border-radius: 5px;
  background: #ffffff;
  width: 100%;
  margin-inline: auto;
}

.coolinput input[type=text].input:focus {
  border: 2px #0d6efd solid;
  outline: none;
} */