.sidebar {
  width: 100%;
  height: 87vh;
  text-align: start;
  color: gainsboro;
}

.sidebar ul {
  list-style-type: none; /* Removes bullets */
  padding: 0; /* Removes default padding */
  margin: 0;
}

.sidebar ul li {
  width: 95%;
  margin: auto;

  border: 1px solid gainsboro;
  /* padding: 5px; */
  
  margin-block: 8px;
  border-radius: 10px;
  cursor: pointer;
}

.sidebar ul li:hover a {
  padding-block: 9px !important;
  border-radius: 10px;
  color: white;
  background-color: #0d6efd;
}

.sidebar a.active {
  border-radius: 10px;
  background-color: #0d6efd;
  color: #fff !important;
}

.sidebar ul li a {
  padding: 5px;
  text-decoration: none;
  color: gray;
}

.sidebar ul li a svg {
  margin-inline: 5px;
  margin-bottom: 3px;
}