.sidebar {
  width: 100%;
  height: 90vh;
  text-align: start;
  padding: 5px 15px;
  color: gainsboro;
}

.sidebar ul {
  list-style-type: none; /* Removes bullets */
  padding: 0; /* Removes default padding */
  margin: 0;
}

.sidebar ul li {
  width: 100%;
  border: 1px solid gainsboro;
  padding: 15px 15px;
  margin-block: 5px;
  border-radius:10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: gray;
}

.sidebar ul li a svg{
  margin-inline: 5px;
  margin-bottom: 3px;
}
