/* Sidebar container */
.sidebar {
  width: 280px;
  height: 100vh;
  background: #ffffff;
  border-right: 1px solid #e5e7eb;
  padding-top: 1rem;
  padding-left: 0.rem;
}

/* Menu */
.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  width: 95%;
  margin: auto;

  border: 1px solid gainsboro;
  /* padding: 5px; */
  margin-block: 8px;
  border-radius: 10px;
  color: #374151;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 500;
}

/* Hover effect */
.sidebar-link:hover {
  background: #2563eb;
  color: #ffffff;
}

/* Active state */
.sidebar-link.active {
  background: #0d6efd;
  color: #ffffff;
}

/* Icon animation */
.sidebar-link .icon {
  display: flex;
  transition: transform 0.4s ease;
}

/* Flip icon left → right on hover */
.sidebar-link:hover .icon {
  transform: rotateY(180deg);
}

/* Text */
.sidebar-link .text {
  white-space: nowrap;
}

/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    width: 70px;
  }

  .sidebar-link {
    justify-content: center;
  }

  .sidebar-link .text {
    display: none;
  }
}
