.tc-print img{
    width: 120px;
    margin-top: 60px;
    margin-left: 30px;
}
.tc-print {
  font-family: "Times New Roman", serif;
  font-size: 14px;
  text-transform: capitalize !important;
}

.tc-form {
  width: 100%;
}

.tc-row {
  display: flex;
  align-items: center;
  margin: 6px 0;
  padding-right: 40px;
}

.print-label {
  min-width: 40px;   /* fixed label width */
  font-weight: normal;
}

.print-field {
  flex: 1;            /* take full remaining width */
  border-bottom: 1px solid black;
  padding: 2px 5px;
  min-height: 18px;
}