.students-table table {
  font-size: 14px !important;
  /* margin: 10px; */
}
.students-table .search-bar {
  width: 300px;
}

.icons-div img {
  width: 25px;
  height: 25px;
  padding: 2px;
}

.students-table .pagination input {
  width: 50px !important;
  padding-left: 10px;
}

.students-table .page-link {
  margin: 0 !important;
  /* border-radius: 0 !important; */
}

.form-div {
  /* padding: 20px; */
  border: 1px solid rgb(205, 205, 205);
  /* margin: 10px auto; */
  border-radius: 10px;
  margin-top: 10px;
  overflow: hidden;
}

.studentCreateFrom {
  border-radius: 10px;
  padding: 10px;
  border: none;
  overflow: hidden;
  margin: auto;

  background-color: white !important;
}
form {
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}
.form-control {
  font-size: 14px !important;
}
.heading h6 {
  margin: 0 !important;
}
.form-buttons button {
  margin: 3px;
}
.from-lable {
  color: black;
  font-weight: 500;
}

.form-date {
  appearance: none; /* Removes default OS styling for more control */
  -webkit-appearance: none;
}

label.form-check-label {
  color: black !important;
  text-decoration: none !important;
}
p {
  margin-bottom: 0 !important;
}
.heading p {
  margin-bottom: 8px !important;
}

label {
  font-size: 13px;
  margin-bottom: 2px !important;
  font-weight: 500;
  margin-left: 5px;
}

span.p-dropdown-label {
  /* margin-top: 10px; */
}

.p-datatable-table {
  border: 1px solid gainsboro;
  padding: 10px;
  font-size: 14px !important;
}

.p-datatable-table > .p-datatable-thead {
  border: 1px solid gainsboro;
  /* margin-block: 5px; */
}
.p-sortable-column {
  border: 1px solid gainsboro;
}
.columnheader {
  border: 1px solid gainsboro;
}

table th {
  border: 1px solid gainsboro;
  background-color: rgb(255, 252, 249);
}

table td {
  border: 1px solid gainsboro;
}
.p-paginator-bottom{
  margin-top: 10px;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 5px !important;
}

.search-div {
  width: 70%;
}

.search-div .p-inputtext{
  padding: 5px !important;
  width: 100% !important;
  font-size: 14px !important;
}

.menu-btn{
  display: none;
}