@tailwind base;
@tailwind components;
@tailwind utilities;


.row,
.col {
  padding: 0;
  margin: 0;
}
[class*="col-"] {
  padding: 0;
  margin: 0;
}
.col-md-9{
  padding: 0 !important;
  margin: 0;
}

.container-fluid{
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
}

.left-side{
  width: 25%;
  border-right: 1px solid gainsboro;
}

.right-side{
  width: 75%;
  padding: 10px;
}


a{
  text-decoration: none !important;
}