@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
.row,
.col {
  padding: 0;
  margin: 0;
}
[class*="col-"] {
  padding: 0;
  margin: 0;
}
.col-md-9{
  padding: 0 !important;
  margin: 0;
}

.container-fluid{
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
}

.left-side{
  width: 20%;
  border-right: 1px solid gainsboro;
}

.right-side{
  width: 80%;
}
