.students-table{
    font-size: 14px !important;
    margin: 10px;
}
.students-table .search-bar{
    width: 300px;
}

 .students-table .icons-div img{
    width: 25px;
    height: 25px;
    padding: 2px;
    
 }

 .students-table .pagination input{
    width: 50px !important;
    padding-left: 10px;
 }

 .students-table .page-link{
    margin: 0 !important;
    /* border-radius: 0 !important; */
 }